body {
    background-color: rgb(47, 61, 79);
}
p{
    line-height: 2;
}
.jutt{
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 1rem;
    color: aliceblue;
    text-align:justify;
}
.jutt p{
    font-size: 17px;
}
.jutt h2{
    text-align: center;
    margin-bottom: 1rem;
}
a{
    color: aliceblue;
    text-decoration: underline;
}
