.header{
    height: 50vh;
}
.header h2{
    margin-top: 100px;
}
.sisu{
   width: 80%;
   margin: auto;
   padding-top: 80px;
   display: flex;
   justify-content: space-around; 
}
.jutt{
    flex-basis: 48%;
    padding: 20px 2px;
}
.jutt h2{
    text-align: center;
    margin-bottom: 1rem;
}
.s2{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around; 
 }
 .j2{
     flex-basis: 48%;
     padding: 20px 2px;
 }
 .s3{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around; 
 }
 .j3{
     flex-basis: 48%;
     padding: 30px 2px;
 }
.j3 a{
    text-decoration: none;
    font-style: italic;
}
.veel{
    padding-top: 20px;
    margin: auto;
    text-align: center;
}
.veel p{
    padding-top: 20px;
}
.veel button{
    margin-bottom: 100px;
}